<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!---archivo jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    {% load static%}

    <link rel = "stylesheet" href = "{% static '../static/css/app.css' %}">
    <script src = "{% static '../static/js/app.js' %}"></script>
    <title>Negocio</title>
</head>
<body>
    <div>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            {% block menu %}
            {% endblock %}
        </nav>
        
        <section>
            {% block contenido %}
            {% endblock %}
        </section>
        <footer class="bg-primary">
            {% block piePagina %}
            
            {% endblock %}
        </footer>
        
    </div>
</body>
</html>